body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    height: 100vh;
}

/* ------------------ Logo */
.wikifaceslogo {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: left;
    touch-action: none;
}

.wikifaceslogo img {
    width: 120px;
    height: auto;
    filter: invert(1) brightness(2);
}

.portrait-card {
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portrait {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
}

/*  ------------------  WP Link */
.wplink {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 50px; /* Adjust this value to move it lower */
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid rgba(255, 55, 255, 0.8);
}

.wplink h2 {
    margin: 5px 0px 10px 0px;
    font-size: 24px;
    color: #fff;
}

.wplink p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
}

.wplink a {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

/* ------------------ Read More and Commons Link */
.read-more-container,
.fixed-commons-link-container {
    position: absolute;
    bottom: 10px;
    left: 20px;
    border: 0px solid rgba(255, 255, 255, 0.1);
}

.fixed-commons-link-container {
    left: auto;
    right: 20px;
}

.wplink .read-more-link,
.wplink .fixed-commons-link {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

/* ------------------ Bottom Banner */
.bottom-banner {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100vw;
    height: 40px;
    background: rgba(0, 0, 0, 1);
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    z-index: 0;
    border: 0px solid rgba(55, 55, 255, 0.8);
}

.bottom-banner a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.bottom-banner p {
    margin: 0px;
    text-align: center;
    flex-grow: 1;
    color: #fff;
    font-size: 14px;
}

.bottom-banner img {
    width: 100px;
    height: auto;
    margin-top: 5px;
    margin-right: 20px;
}


/* ------------------ Social Icons */
.icon-container {
    position: fixed;
    top: 30px; /* Makes position flexible with screen height */
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 0px solid rgba(55, 55, 255, 0.8);
}
.icon-button {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.icon-button img {
    width: 22px;
    height: 22px;
}

.icon-button:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

/* ----------------- Lightbox */

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightbox a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.lightbox-content {
    max-width: 100%;
    max-height: 80vh;
    align-items: center;
    padding: 0px;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.close-lightbox {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* ---------------- Heart Animation */

#heart-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.flying-heart {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../media/heart-icon-red.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: flyLeft 2s ease-out forwards;
    pointer-events: none;
}

@keyframes flyLeft {
    0% {
        transform: scale(1) translateX(0);
        opacity: 1;
    }
    100% {
        transform: scale(3.5) translateX(-200px) translateY(150px);
        opacity: 0;
    }
}

/*---------------- Responsive --------------------------------- */

@media (max-width: 600px) {
    .facetok-card {
        flex-direction: column;
    }
    .wikifaceslogo img {
        width: 100px;
    }
    .wplink {
        height: auto;
        padding: 20px;
    }
    .wplink a {
        font-size: 24px;
        font-weight: 600;
    }
    .wplink p {
        font-size: 18px;
    }
    .read-more-container,
    .fixed-commons-link-container {
        position: static;
        margin-top: 10px;
    }
    .wplink .fixed-commons-link ,
    .wplink .read-more-link {
        display: block;
        margin-bottom: 0px;
        font-size: 18px;
        /*  border: 2px solid rgba(55, 55, 55, 0.8); */
    }
    .bottom-banner img {
        width: 80px;
    }
    .bottom-banner a {
        font-size: 14px;
    }
    .bottom-banner p {
        font-size: 12px;
    }
    .icon-button {
        width: 35px;
        height: 35px;
    }
    .icon-button img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 400px) {
    .wplink a {
        font-size: 24px;
        font-weight: 600;
    }
    .wplink .read-more-link,
    .wplink .fixed-commons-link {
        font-size: 18px;
    }
    .bottom-banner a {
        font-size: 14px;
    }
    .bottom-banner p {
        font-size: 12px;
    }
    .icon-button {
        width: 30px;
        height: 30px;
    }
    .icon-button img {
        width: 18px;
        height: 18px;
    }
}


@media (max-width: 300px) {
    .bottom-banner {
        gap: 0px;
        margin-bottom: 10px;
    }
    .bottom-banner img {
        width: 50px;
    }

    .bottom-banner a {
        font-size: 12px;
    }
    .bottom-banner p {
        font-size: 10px;
    }

    .icon-button {
        width: 25px;
        height: 25px;
    }

    .icon-button img {
        width: 16px;
        height: 16px;
    }
}

